.hide {
    display: none;
}

#onexit {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    left: 0;
    top: 0;
}

#onexit-content {
    position: relative;
    background: #fefefe;
    width: 75%;
    margin: 25% auto;
    padding: 1% 5%;
}

#onexit-close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    color: dimgray;
    font-family: "Helvetica Neue", arial, sans-serif;
    font-size: 8pt;
    cursor: pointer;
}

#onexit-close-btn:hover {
    color: #171717;
}
